<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="Article" value="C:\Users\joela\OneDrive\Documents\Desktop\IT Shit\BuilderWire\Input\Article.txt" />
      <add key="Words" value="C:\Users\joela\OneDrive\Documents\Desktop\IT Shit\BuilderWire\Input\Words.txt" />
      <add key="Output" value="C:\Users\joela\OneDrive\Documents\Desktop\IT Shit\BuilderWire\Input\OutputTest.txt" />
      <add key="Expected" value="C:\Users\joela\OneDrive\Documents\Desktop\IT Shit\BuilderWire\Output\Output.txt" />
      <add key="Abbreviations" value="mr.,mrs.,e.g." />
    </appSettings>
</configuration>